// header, nav, main {
//     // max-width: 995px;
//     // margin: auto;
// }

/* NAVIGATION STUFF GOES HERE  */
#hamburgerBtn {
    display: none;
}
.moveover>.content {
    transform: translateX(0px);
}
nav {
    background-color: #EAEAEA;
    position: static;
    transform: translateX(0);
    width: auto;
}


