/* NAVIGATION STUFF GOES HERE  */
#hamburgerBtn {
    display: none;
}
// .moveover>.content {
//     transform: translateX(0px);
// }
nav {
    background-color: lighten($menuColor, 10%);
    position: static;
    transform: translateX(0);
    width: auto;
    margin: 0;
    ul{
        display: flex;
        // margin-left: $gutter;
        margin: 0;
        padding: 0;

    }
    ul li a {
        padding: .6rem 1.5rem;
        border: none;
    }
    ul li a:hover {
        background-color: lighten($menuColor, 20%);
        color: #FFFFF9;
    }
    li.active {
        background-color: darken($menuColor, 10%);
    }
}

/*---------  CARDS ---------*/
.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.allCards .flip-card {
    margin: 15px;
}